<h1>Edge Academy</h1>
<p>This track offers an exploration of the skills needed for developing an application.</p>

<h2>Spring 2015</h3>

<% @track.courses.each do |course| %>
  <h3><%= course.title %></h3>
  <p><strong>Description:</strong><%= course.description %></p>
  <p><strong>Details:</strong><%= course.details %></p>
  <p><strong>Instructor:</strong><%= course.instructor %></p>
  <p><strong>Application:</strong><%= course.enrollment_open ? course.application_link : "Closed" %></p>
  <p><strong>Classroom Links:</strong>
    <% length = course.course_links.size %>
    <% course.course_links.each_with_index do |link, index| %>
      <%= link_to link.text, link.link %>
      <%= "|" if index != length -1 %>
    <% end %>
  </p>
<% end %>
