<h1>Edge <%= @track.name %></h1>
<p><%= @track.description %></p>

<% if @track.enrollment_open %>
  <p>Apply at <%= @track.application_link %></p>
<% elsif ["Labs", "Venture"].include?(@track.name) %>
  <p>Applications are not open right now</p>
<% end %>

<% if ! @track.courses.empty? %>
  <h2>Current Quarter</h3>

  <% @track.courses.each do |course| %>
    <h3><%= course.title %></h3>
    <p><strong>Description:</strong><%= course.description %></p>
    <p><strong>Details:</strong><%= course.details %></p>
    <p><strong>Instructor:</strong><%= course.instructor %></p>
    <p><strong>Application:</strong><%= course.enrollment_open ? course.application_link : "Closed" %></p>
    <p><strong>Classroom Links:</strong>
      <% length = course.course_links.size %>
      <% course.course_links.each_with_index do |link, index| %>
        <%= link_to link.text, link.link %>
        <%= "|" if index != length -1 %>
      <% end %>
    </p>
  <% end %>
<% end %>
