<%= image_tag "logo-big.png" %>
<h1>UChicago Entrepreneurship</h1>
<%= link_to "Our Mission", "#" %>
<%= link_to "What We Do", "#" %>
<%= link_to "Team", "/team" %>
<%= link_to "Contact Us", "/contact" %>

<p>Edge is UChicago's undergraduate entrepreneurship organization that focuses on providing students with resources and a community to help them build skills, companies, and relationships. </p>


<p>Edge holds skill building workshops with speakers and events open to the public, as well as specialized tracks for interests in coding, venture capital, and founding one's own company.</p>

Find out more about our tracks:

<%= link_to "General", "/general" %>
<%= link_to "Labs", "/labs" %>
<%= link_to "Academy", "/academy" %>
<%= link_to "Ventures", "/ventures" %>
